.dashboard-main{
    display: flex;
    flex-direction: row;
}
.dashboard-left{
    flex: 0.2;
}
.dashboard-right{
    border: 1px solid red;
    flex: 0.8;
}
.vertical-nav{
    display: flex;
    flex-direction: column;
}