.team-card {
  text-align: center;
  border: 1px solid gray;
  margin-top: 20px;
}
.img-box img {
  width: 100%;
  height: 350px;
}
.img-box {
  position: relative;

  overflow: hidden;
}
.team-card:hover .img-box img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 10;
}
.text-box {
  padding: 15px 0;
}
.text-box h4 {
  font-size: 30px;
  text-transform: capitalize;
}
.text-box p {
  font-size: 15px;
  text-transform: uppercase;
  color: #d00a2b;
  font-weight: 500;
}
